* { box-sizing:  border-box; }
article p { padding: 3rem; 
            background-color: orange;
            margin: 3rem;
            border: 10px solid black;
}
h2 { border-bottom: 10px solid gray;
      padding-bottom: 1rem;
}